/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/* Dropdown items */
.profile-dropdown-item:hover {
    color: black !important;
}

/* Home page */
.playlist-iframe {
    width: 100% !important;
}

.playlist-scrollbar {
    overflow-y: auto;
    height: 480px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.header {
    background-color: black;
    color: white;
}

.resize-img {
    max-width: 5%;
    height: auto;
}

.spotifly {
    font: 36 !important;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav a:hover {
    border-bottom: 3px solid cyan !important;
    font-weight: bold !important;
}

.nav-link:active {
    font-weight: bold !important;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: black;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
