/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%;
}

main {
    min-height: 100vh;
}

.navbar-nav a:hover {
    border-bottom: 3px solid cyan !important;
    font-weight: bold !important;
}

.nav-link:active {
    font-weight: bold !important;
}

section {
    margin-top: 2em;
}

#daily-playlist-list-section > ul > li {
    margin-bottom: 1.5em;
}


.music-thumbnail {
    border: 0px solid white !important;
}

.dropdown-item:hover {
    color: black !important;
}


/*Todo: fix for mobile*/
.rounded-avatar {
    border-radius: 50% !important;
}

.social-icon > i {
    font-size: 2em;
}
