
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div><canvas id="pieChart"></canvas></div>

@{ChartJSCore.Models.Chart pieChart = (ChartJSCore.Models.Chart)ViewData["PieChart"]; }

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        @Html.Raw(pieChart.CreateChartCode("pieChart"));
    </script>
}

