@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spotify Calls</h1>
    <p>Display some example data from Spotify's <a href="https://developer.spotify.com/documentation/web-api/">API</a>.</p>
</div>
